<nav class="pages" aria-label="{{Strony}}">
  <span class="brand">sejm-viewer · {{dane Kancelarii Sejmu}}</span>
  <ul>
    <li><a href="index.html" data-page="index">{{Start}}</a></li>
    <li><a href="interpelacje.html" data-page="interpelacje">{{Milczenie ministerstw}}</a></li>
    <li><a href="droga.html" data-page="droga">{{Droga pytania}}</a></li>
    <li><a href="poslowie.html" data-page="poslowie">{{Posłowie}}</a></li>
    <li><a href="nieobecnosci.html" data-page="nieobecnosci">{{Nieobecności}}</a></li>
    <li><a href="dyscyplina.html" data-page="dyscyplina">{{Dyscyplina klubowa}}</a></li>
    <li><a href="koalicje.html" data-page="koalicje">{{Kto z kim głosuje}}</a></li>
    <li><a href="vacatio.html" data-page="vacatio">{{Vacatio legis}}</a></li>
    <li><a href="raporty.html" data-page="raporty">{{Raporty}}</a></li>
  </ul>
  <div class="langs" id="langs"></div>
</nav>
